<p class="lead">
Welcome to a short tutorial about the Affect Misattribution Procedure (the AMP).

The AMP is a psychological task that was developed by Keith Payne, around 2005. 
It has been used as a tool and a measure in many research studies in psychology. 
<br/><br/>

In this tutorial, you will first experience the AMP. 
Afterwards, we will show a very short presentation about the task.

</p>